version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "50627:80"
    container_name: keyboardgame-app
    restart: unless-stopped
    environment:
      - NODE_ENV=production
